/*font start*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');




@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:wght@300&display=swap');
/*font end*/
/*common css start*/
*{

}
body{
	margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    font-weight: 400;
    color: #626262;
}
/*common css end*/
/*header start*/
header{
	padding: 35px 0;
	/*border: 1px solid red;*/
}
	.container{
		margin: 0 auto;
		width: 90%;
		/*border: 1px solid;*/
		overflow: hidden;
	}
	.logo{
		margin-top: 9px;
		width:12%;
		/*border: 1px solid;*/
		float: left;
	}
	
	.logo a{}
	.logo a img{
		width:100%;
	}
	.menu{
		width: 60%;
		/*border: 1px solid;*/
		float: right;
	}
	.menu ul{
		float: right;
	}
	.menu ul li{
		list-style: none;
		float: left;
	}
	.menu ul li a{
		margin: 0px 50px;
		display: inline-block;
		color: #626262;
		text-decoration: none;
		text-transform: uppercase;
		border-bottom: 1px solid transparent;
		transition: .33s linear;
	}
	.menu ul li:last-child a{
		margin-right: 0;
	}
	.menu ul li a:hover{
		border-bottom: 1px solid #626262;
	}



/*header end*/
/*banner start*/
.banner{}
.b_img{}
.b_img img{
	width:100%;
}
/*banner end*/
/*perfect start*/
.perfect{
	padding: 100px 0 30px;
}
.container2{
	margin: 0 auto;
	width: 80%;
	overflow: hidden;
	/*border: 1px solid red;*/
}
.p_content{}
.c_light{
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;

}
.c_title{
	margin: 20px 0 25px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin: 0;
	line-height: 24px;
}
.p_link{
	margin-top: 45px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
}
/*perfect end*/
/*blog start*/
.blog{
	padding: 0 0 100px;
}
.sb_item{
	margin-top: 70px;
	float: left;
	width: 47%;
	/*border: 1px solid;*/
}
.sb_item:nth-child(even){
	margin-left: 6%;

}
.sb_img{
	margin-bottom: 20px;
}
.sb_img img{
	width: 100%;
}

/*blog end*/

/*newsletter start*/
.newsl{
	background-color:  #f0f0f0;
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
	/*border: 1px solid;*/
	margin: 0 auto;
	
}
.s_form input{

    font-family: "Playfair Display", serif;
    color: #626262;
    font-size: 14;
    width: 345px;
    height: 40px;
    border: none;
    border-bottom: 2px solid #626262;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 45px;

}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background-color: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus{
	outline: 0;
}

.s_form button img{}
/*newsletter end*/

/*blog2 start*/
.blog2{
	padding: 30px 0 100px;
}
.load{
	text-align: center;
}
.load button{
	margin: 100px 0 0;
	width: 165px;
	height: 60px;
	background-color: transparent;
	border: 1px solid #626262;
	font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 400;
    color: #626262;
    cursor: pointer;
    transition: .33s linear;

}
.load button:hover{
	background-color: #626262;
	color: white;

}
/*blog2 end*/
/*footer start*/
footer{

	padding: 25px 0;
	background-color:  #f0f0f0;

}
.pages{
	width:40%;
	/*border: 1px solid red;*/
	float: left;
}
.pages ul{}
.pages ul li{
	list-style: none;
	float: left;

}
.pages ul li a{
	margin: 0px 50px;
	text-decoration: none;
	display: inline-block;
	color: #626262;
}
.pages ul li:last-child a{
	margin-left: 0;
}
.social{
	width: 25%;
	/*border: 1px solid red;*/
	float: right;
}
.social ul{
	float: right;
}
.social ul li{
	list-style: none;
	float: left;
}
.social ul li a{
	margin: 0px 15px;
	/*text-decoration: none;*/
	display: inline-block;
}
.social ul li a img{
	width: 100%;
}
.social ul li:last-child a{
	margin-right: 0;
}
/*footer end*/